@import "colors.css";
@import "common.css";
@import "bootstrap.css";

html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-bg {
    height: 100%;
    background: var(--app-bg-color);
}